.scroll_container{
  /* max-width: 500px; */
  margin: auto;
}

.items::-webkit-scrollbar  {
  width: 0;
  background: transparent;
}

.items {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  overflow-x: scroll;
}

.item {
  min-width: 220px;
  border-radius: 22px;
  margin-right: 10px;
  height: 476px;
  background-color: rgb(249, 238, 225);
}

.item_big {
  min-width: 295px;
  border-radius: 5px;
  margin-right: 10px;
  height: 221px;
  background-color: rgb(249, 238, 225);
}

.description {
  min-width: 100;
}

.review {
  min-width: 325px;
  margin-right: 10px;
}

.overflowed {
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}